.GoblinForm {
  background-color: hsl(180, 80%, 75%);
  border-radius: 0.25rem;
  max-width: 30rem;
  margin-block: 1rem;
  margin-inline: auto;
  padding: 0.5rem;

  display: flex;
  justify-content: space-between;
}

.GoblinForm h2 {
  font-size: 1rem;
}

.GoblinForm form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.GoblinForm form fieldset {
  border: none;
  display: flex;
  gap: 0.25rem;
}

.GoblinForm form fieldset legend {
  text-decoration: underline;
}

.GoblinForm button {
  background-color: hsl(43, 52%, 33%);
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  color: hsl(72, 100%, 60%);
}

.GoblinForm hr {
  border-color: hsl(0, 0%, 0%);
}

@media (min-width: 500px) {
  .GoblinForm {
    justify-content: space-evenly;
  }
}
