.GoblinEdit form fieldset {
  border: none;
  display: flex;
  gap: 0.25rem;
}

.GoblinEdit button {
  background-color: hsl(43, 52%, 33%);
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  color: hsl(72, 100%, 60%);
}
